* {
  box-sizing: border-box;

}

body {
 
  margin: 0;
  background-color: rgb(32, 5, 29);
  font-family: "Victor Mono", monospace;
  overflow-x: hidden;
  
}

nav {
  background-color: #000000;

  .navbar-toggler {
    border: none;
  }

  .logo {
    display: flex;
    align-items: center;

    height: 8vh;
  
  }

  li {
    a {
      color: white;

      &::after {
        content: "";
        display: block;
        margin: auto;
        height: 3px;
        width: 0;
        top: 5px;
        background: transparent;
        transition: all 0.3s;
      }

      &:hover::after,
      &.active-nav::after {
        width: 100%;
        background: #a92ac9;
      }
    }
  }

  .dropdown-menu {
    background-color: #000000;

    &.dropdown-menu a:hover {
      background-color: #785e8f;
      color: white;
    }

    &.dropdown-menu a {
      background-color: #000000;
      color: rgb(160, 160, 160);
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: space-around;
  }
}

.hero {
  height: 90vh;
  background-image: url("/medias/hero.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  p {
    font-family: "Quicksand", sans-serif;
  }

  .card {
    max-width: 500px;
    min-height: 500px;
    background-color: rgb(32, 5, 29, 0.9);
    border-radius: 50%;

    h4 {
      font-size: 45px;
      color: white;
    }

    p {
      color: white;
    }
  }
}

#section-propos {
  .container-fluid {
    
    padding: 0;

    .bande {
      background-image: url("/medias/hero.PNG");
      background-repeat: no-repeat;
      background-size: cover;
      height: 25vh;

      h2 {
        font-size: 3rem;
        color: white;
      }
    }

    .profil h2 {
      color: white;
    }

    .profil p {
      color: white;
    }
    .competences h2 {
      color: white;
    }

    .competences li {
      color: white;
    }
    p {
      font-family: "Quicksand", sans-serif;
    }

    ul {
      font-family: "Quicksand", sans-serif;
    }
  }
}

#section-footer {
  background-color: rgb(75, 42, 72);
  margin: 0;
  height: 20vh;

  a {
    text-align: center;
    font-size: 15px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

#section-projet {
  .container-fluid {
    overflow-x: hidden;
    padding: 0;

    .bande {
      background-image: url("/medias/hero.PNG");
      background-repeat: no-repeat;
      background-size: cover;
      height: 25vh;

      h2 {
        font-size: 3rem;
        color: white;
      }
    }

    .categrories {
      background-color: rgba(0, 0, 0, 0.7);
      height: 8vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 100vw;
      overflow-y: hidden;
      margin-left: 15px;
      margin-right: 15px;
    }

    .categrories a {
      text-align: center;
      font-size: 17px;
      height: 20vh;
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      padding: 3px;
      max-width: 100vw;
    }

    a:hover {
      text-decoration: underline #a92ac9;
    }
  }
}

p {
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

h3 {
  color: white;
}

#design-web {
  .card-body {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  ul {
    font-family: "Quicksand", sans-serif;
  }
}

#design-graphique {
  img {
    width: 100%;
    height: 100%;
  }
  h1 {
    margin-bottom: 45px;
  }

  .card {
    background-color: rgb(32, 5, 29);
  }

  .swiper-button-next {
    color: #a92ac9;
  }

  .swiper-button-prev {
    color: #a92ac9;
  }
}

#montage {
  span {
    background-color: #006e6e;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: wheat;

    &-active {
      width: 30px;
      background-color: #a92ac9;
    }
  }

  h1 {
    margin-top: 60px;
  }

  h3 {
    margin-bottom: 45px;
  }

  h4 {
    text-align: left;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 45px;
  }

  p {
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  li {
    color: white;
    padding-left: 30px;
  }

  video {
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
  }
}

#photo {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card {
    border: none;

    margin-bottom: 25px;
  }

  h1 {
    color: white;
  }
}
#section-contact {
  font-family: "Victor Mono", monospace;
  .container-fluid {
    padding: 0;

    .bande {
      background-image: url("Mon-Portfolio/medias/hero.PNG");
      background-repeat: no-repeat;
      background-size: cover;
      height: 25vh;
      color: white;

    }

    h2 {
      font-size: 3rem;
      color: white;
    }

    .link {
      margin-top: 20px;
      width: 190px;
      height: 100px;
      
      
    }

  
  }
}
