* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(32, 5, 29);
  font-family: "Victor Mono", monospace;
}

nav {
  background-color: #000000;
}
nav .navbar-toggler {
  border: none;
}
nav .logo {
  position: absolute;
  left: 15px;
  top: -5px;
  height: 8vh;
  min-width: 5vw;
}
nav li a {
  color: white;
}
nav li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
nav li a:hover::after, nav li a.active-nav::after {
  width: 100%;
  background: #a92ac9;
}
nav .dropdown-menu {
  background-color: #000000;
}
nav .dropdown-menu.dropdown-menu a:hover {
  background-color: #785e8f;
  color: white;
}
nav .dropdown-menu.dropdown-menu a {
  background-color: #000000;
  color: rgb(160, 160, 160);
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: space-around;
  }
}
.hero {
  height: 90vh;
  background-image: url("/medias/hero.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hero .card {
  width: 500px;
  height: 500px;
  background-color: rgba(185, 152, 220, 0.7);
  border-radius: 50%;
}
.hero .card h4 {
  font-size: 45px;
  color: white;
}
.hero .card p {
  color: white;
}

#section-propos .container-fluid {
  padding: 0;
}
#section-propos .container-fluid .bande {
  background-image: url("/medias/hero.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
#section-propos .container-fluid .bande h2 {
  font-size: 3rem;
  color: white;
}
#section-propos .container-fluid .profil h2 {
  color: white;
}
#section-propos .container-fluid .profil p {
  color: white;
}
#section-propos .container-fluid .competences h2 {
  color: white;
}
#section-propos .container-fluid .competences li {
  color: white;
}
#section-propos .container-fluid p {
  font-family: "Quicksand", sans-serif;
}
#section-propos .container-fluid ul {
  font-family: "Quicksand", sans-serif;
}

#section-footer {
  background-color: rgba(185, 152, 220, 0.7);
  margin: 0;
  height: 20vh;
}
#section-footer a {
  text-align: center;
  font-size: 15px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#section-footer::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
#section-footer:hover::after, #section-footer.active-nav::after {
  width: 100%;
  background: #a92ac9;
}

#section-projet .container-fluid {
  padding: 0;
}
#section-projet .container-fluid .bande {
  background-image: url("/medias/hero.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
#section-projet .container-fluid .bande h2 {
  font-size: 3rem;
  color: white;
}
#section-projet .container-fluid .categrories {
  background-color: rgba(0, 0, 0, 0.7);
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section-projet .container-fluid .categrories a {
  text-align: center;
  font-size: 17px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
#section-projet .container-fluid a:hover {
  -webkit-text-decoration: underline #a92ac9;
          text-decoration: underline #a92ac9;
}

p {
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

h3 {
  color: white;
}

#design-web .card-body {
  color: white;
}
#design-web a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#design-web ul {
  font-family: "Quicksand", sans-serif;
}

#design-graphique img {
  width: 100%;
  height: 100%;
}
#design-graphique h1 {
  margin-bottom: 45px;
}
#design-graphique .card {
  background-color: rgb(32, 5, 29);
}
#design-graphique .swiper-button-next {
  color: #a92ac9;
}
#design-graphique .swiper-button-prev {
  color: #a92ac9;
}

#montage span {
  background-color: #006e6e;
}
#montage .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: wheat;
}
#montage .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #a92ac9;
}
#montage h1 {
  margin-top: 60px;
}
#montage h3 {
  margin-bottom: 45px;
}
#montage h4 {
  text-align: left;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 45px;
}
#montage p {
  color: white;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 1.3em;
  padding-bottom: 20px;
}
#montage li {
  color: white;
  padding-left: 30px;
}
#montage video {
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
}

#section-contact .container-fluid {
  padding: 0;
}
#section-contact .container-fluid .bande {
  background-image: url("/medias/hero.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
#section-contact .container-fluid .bande h2 {
  font-size: 3rem;
  color: white;
}/*# sourceMappingURL=style.css.map */