body{
    overflow-x: hidden;
    margin: 0;
    background-color: black;
}

nav {
    background-color: #785e8f;
    
  
    .navbar-toggler {
      border: none;
     
    }

    .logo {
        color: white;
        position: absolute;
        left: 15px;
        top: -9.5px;
        height: 8vh;
        width: 15vh;
        padding-top:5px;
        padding-bottom:5px;
    }

    a {
        color: white;
    }

    :hover{
        color: red;
    }

  }

  @media screen and (min-width: 992px) {
    .navbar-collapse {
      display: flex;
      justify-content: space-around;
    }
  }

  #section-hero {
    display: flex;
    justify-content: center;
  
    .hero {
      object-fit: cover;
      width: 100vw;
      height: 90vh;
      margin-top: -48px;
    }

  h1  {
      color: white;
      text-transform: uppercase;
  }

  h4 {
      margin-top: 23px;
      color: rgb(255, 255, 255);
      
  }
    .presentation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #4b3a79, $alpha: 0.4);
        height: 25vh;
        width: 70vw;
        text-align: center;
        padding: 60px 60px;
        
       
    }

    @media screen and (max-width: 1195px) {
      .presentation {
          height: 30vh;
          width: 70vw;
      }
    }
      @media screen and (max-width: 610px) {
        .presentation {
            height: 35vh;
            width: 70vw;
        }
          h1{
            font-size: 30px;
          }
        h4{
          font-size: 30px;
        }
      }
        @media screen and (max-width: 560px) {
          .presentation {
              height: 40vh;
              width: 70vw;
          }

          h1 {
            font-size: 30px;
          }

          h4 {
            font-size: 30px;
          }
        }
   
          @media screen and (max-width: 460px) {
            .presentation {
                height: 50vh;
                width: 70vw;
                padding-top: -20px;
            }
  }

  @media screen and (max-width: 375px) {
    .presentation {
        height: 60vh;
        width: 70vw;
        padding-top: -20px;
    }


}
}
