* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: "Victor Mono", monospace;
  overflow-x: unset;
}

nav {
  background-color: #000000;

  .navbar-toggler {
    border: none;
  }

  .logo {
    display: flex;
    align-items: center;

    height: 8vh;
  }

  li {
    a {
      color: white;

      &::after {
        content: "";
        display: block;
        margin: auto;
        height: 3px;
        width: 0;
        top: 5px;
        background: transparent;
        transition: all 0.3s;
      }

      &:hover::after,
      &.active-nav::after {
        width: 100%;
        background: #5ec2b7;
      }
    }
  }

  .dropdown-menu {
    background-color: #000000;

    &.dropdown-menu a:hover {
      background-color: #785e8f;
      color: white;
    }

    &.dropdown-menu a {
      background-color: #000000;
      color: rgb(160, 160, 160);
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: space-around;
  }
}

.hero {
  height: 80vh;
  background-image: url(medias/hero_index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  p {
    font-family: "Quicksand", sans-serif;
  }

  .card {
    max-width: 500px;
    min-height: 500px;
    background-color: #9dd9d2d3;
    border-radius: 50%;

    h4 {
      font-size: 45px;
      color: rgb(0, 0, 0);
      margin-left: 20px;
      margin-right: 20px;
    }

    p {
      color: rgb(0, 0, 0);
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

#section-propos {
  .container-fluid {
    padding: 0;

    .bande {
      background-image: url(medias/test_hero_01.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 25vh;

      h2 {
        font-size: 3rem;
        color: rgb(0, 0, 0);
      }
    }

    .profil h2 {
      color: white;
    }

    .profil p {
      color: white;
      margin-bottom: 25px;
    }
    .competences h2 {
      color: white;
    }

    .competences li {
      color: white;
      margin-bottom: 25px;
    }

    li::marker {
      color: #5ec2b7;
    }

    p {
      font-family: "Quicksand", sans-serif;
    }

    ul {
      font-family: "Quicksand", sans-serif;
    }
  }
}

#section-footer {
  background-color: #021b26;
  margin: 0;
  height: 20vh;
  font-family: "Quicksand", sans-serif;

  a {
    text-align: center;
    font-size: 15px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

#section-projet {
  .container-fluid {
    overflow-x: hidden;
    padding: 0;

    .bande {
      background-image: url(medias/test_hero_01.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 25vh;

      h2 {
        font-size: 3rem;
        color: rgb(0, 0, 0);
      }
    }

    .categrories {
      background-color: #021b26;
      height: 8vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 100vw;
      overflow-y: hidden;
      padding-left: 10px;
      padding-right: 10px;
      position: sticky;
      top: 0;
    }

    .categrories a {
      text-align: center;
      font-size: 16px;
      height: 20vh;
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      padding: 10px;
      max-width: 100vw;
    }

    a:hover {
      text-decoration: underline #5ec2b7;
    }
  }
}

p {
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

h3 {
  color: white;
}

#design-web {
  .card-body {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  ul {
    font-family: "Quicksand", sans-serif;
  }

  li::marker {
    color: #5ec2b7;
  }
}

#up {
  .icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
  }
}

#design-graphique {
  img {
    width: 100%;
    height: 100%;
  }

  .card {
    background-color: black;
  }

  .swiper-button-next {
    color: #5ec2b7;
  }

  .swiper-button-prev {
    color: #5ec2b7;
  }
}

#montage {
  span {
    background-color: #006e6e;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: wheat;

    &-active {
      width: 30px;
      background-color: #5ec2b7;
    }
  }

  h1 {
    margin-top: 60px;
  }

  h3 {
    margin-bottom: 45px;
  }

  h4 {
    text-align: left;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 45px;
  }

  p {
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  li {
    color: white;
    padding-left: 30px;
  }

  li::marker {
    color: #5ec2b7;
  }

  video {
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
  }

  .swiper-slide .card {
    display: flex;
    justify-content: center;
    border: none;
    background-color: black;
    margin-bottom: 40px;
  }

  .card img {
    width: 100%;
  }
}

#processus {
  .swiper-button-next {
    color: #5ec2b7;
  }

  .swiper-button-prev {
    color: #5ec2b7;
  }

  h1 {
    margin-top: -2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 22px;
  }
}

#sonalux {
  span {
    background-color: #006e6e;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: wheat;

    &-active {
      width: 30px;
      background-color: #5ec2b7;
    }
  }

  h1 {
    margin-top: 60px;
  }

  h3 {
    margin-bottom: 45px;
  }

  h4 {
    text-align: left;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 45px;
  }

  p {
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  li {
    color: white;
    padding-left: 30px;
  }

  li::marker {
    color: #5ec2b7;
  }

  video {
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
  }

  .swiper-slide .card {
    display: flex;
    justify-content: center;
    border: none;
    background-color: black;
    margin-bottom: 40px;
  }

  .card img {
    width: 100%;
  }
}

#willy {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card {
    border: none;

    margin-bottom: 25px;
  }

  h1 {
    color: white;
  }

  p {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  h3 {
    margin-bottom: 45px;
  }
}

#photo {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card {
    border: none;

    margin-bottom: 25px;
  }

  h1 {
    color: white;
  }
  h3 {
    margin-bottom: 45px;
  }
}
#section-contact {
  font-family: "Victor Mono", monospace;
  .container-fluid {
    padding: 0;

    .bande {
      background-image: url(medias/test_hero_01.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 25vh;
      color: white;
    }

    .titre {
      font-size: 3rem;
      color: rgb(0, 0, 0);
    }

    h2 {
      font-size: 1.3rem;
    }

    .link {
      margin-top: 20px;
      width: 100px;
      height: 100px;
    }

    .fin {
      font-size: 10px;
    }
  }
}
